/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* general rules */
body {
    font-family: "Open Sans", sans-serif;
}

.debug {
    border: 1px solid red;
}

/* header */


/* main */


/* footer */


/* utility */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.small-container {
    max-width: 1000px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.s-beetween {
    justify-content: space-between;
}